.manager{
    background-color: white;
    width: 80%;
}
.body-manager{
    margin-top: 10px;
    width: 90%;
    background-color: cornsilk;
}
.manager .body-manager .row > *{
    border: 1px solid;
    text-align: center;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}
.manager .header-manager{
    background-color: #F1F1F1;
    margin-top: 10px;
    width: 90%;
}
.manager .header-manager .row > *{
    border: 1px solid;
    text-align: center;
    background-color: white;
    
}
.manager .body-manager h1{
    min-height: 800px;
    background-color: cornsilk;
    text-align: center;
    line-height: 400px;
    margin: 0;
}